<h2>Bienvenido, {{user.first_name}} {{user.last_name}}</h2>
<p>Correo electr칩nico: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Rol: {{user.role}}</p>
<p>Carrito: {{user.cart}}</p>
<h1>Productos</h1>
{{#each products}}
    <div>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <a
            href="#"
            onclick="agregarAlCarrito(event, '{{this._id}}', '{{../user.cart}}')"
        >Agregar al carrito</a>
    </div>
{{/each}}
{{#if hasPrevPage}}
    <a href="{{prevLink}}">P치gina anterior</a>
{{/if}}
{{#if hasNextPage}}
    <a href="{{nextLink}}">P치gina siguiente</a>
{{/if}}
<p>P치gina {{page}} de {{totalPages}}</p>

<script
    src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js
"
></script>
<script src="/services/products.js"></script>